services:

  app:
    build: .
    volumes:
      - ./app:/app
      - ./brokers.json:/app/brokers.json
    tty: true
    ulimits:
      nofile:
        soft: 400053
        hard: 400053
    ports:
      - 3000:3000
    network_mode: "host"