services:

  app:
    build: .
    volumes:
      - ./data:/app/data
      - ./test-cases:/app/test-cases
      - ./scripts:/app/scripts
    tty: true
    ulimits:
      nofile:
        soft: 400053
        hard: 400053
    ports:
      - 8080:8080